<div class="jumbotron">
  <h2 align="center"><%= page_message %></h2>
  <br/><br/>
  <p>Use this area to provide additional info ...</p>
  <br/><br/>
  <img style="height: 200px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/Circle-icons-profle.svg/768px-Circle-icons-profle.svg.png" class="img-circle">
  <br/><br/>
</div>
<hr/>
<footer>
    <p>&copy; 2017-18 - My Crystal App</p>
</footer>

